/* Configurações gerais */

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

body {
    background-color: #221D23;
    
}

a {
    text-decoration: none;
    color: black;
}

/* Header - Universal */

.header {
    background: #D1603D ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    margin-left: 50px;
    padding: 20px;
}

.navbar-header ul {
    display: flex;
}

.navbar-header li {
    margin-left: 10px;
    padding: 20px;
}

.header .botao button {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #DDB967;
    border: 1px solid black;
    color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 100px;
    height: 45px;
    margin: 10px;
    margin-right: 50px;
}

/* HOME */
/* Home - Principal */

.conteudo-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.664));
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
}

.container-conteudo-home {
    margin: 40px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 130px;
}

.texto-home {
    font-size: 1.4rem;
    color: azure;
}

.texto-home h1 {
    color: #DDB967;
}

.texto-home button {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #D1603D;
    border: 1px solid black;
    color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 100px;
    height: 45px;
    margin-top: 20px;
}

.img-home {
    display: flex;
    margin-right: 80px;
}

.img-home img {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 230px;
    height: 240px;
}

.img-home #am {
    margin-bottom: 10px;
    width: 230px;
    height: 120px;
}

.img-home #jd {
    margin-bottom: 0px;
    width: 230px;
    height: 120px;
}

.img-home #brown {
    margin-bottom: 0px;
}

/* Home - parte das matérias */

.conteudo-materias {
    background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0));
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
}

.container-conteudo-materias {
    margin: 40px;
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 100px;
}

.titulo-materias {
    font-size: 1.4rem;
    color: azure;
}

.titulo-materias h1 {
    margin-bottom: 90px;
}

.texto-materias {
    display: flex;
    font-size: 1rem;
    color: azure;
}

.titulo-materias h1, h5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-materias {
    flex-wrap: wrap;
    justify-content: space-around;
}

.texto-materias div {
    margin-right: 20px;
}

.texto-materias p {
    width: 520px;
    height: 100px;
}

.texto-materias h3 {
    width: 500px;
}

.texto-materias h3 a {
    color: azure;
}

.texto-materias .img-radiohead {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-image: url(https://uploads.tracklist.com.br/wp-content/uploads/2021/05/radiohead-e1620920408605.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 520px;
    height: 250px;
}

.texto-materias .img-esquina {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-image: url(https://p2.trrsf.com/image/fget/cf/1200/900/middle/images.terra.com/2024/02/07/774773662-lo-borges-milton-nascimento-clube-da-esquina-nada-sera-como-antes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    width: 520px;
    height: 250px;
}

.texto-materias .img-fishmans {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-image: url(https://image.tmdb.org/t/p/w250_and_h141_face/4yTnmfOBTkC1zcyrTFZkXQH5OHq.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    width: 520px;
    height: 250px;
}

.texto-materias .img-brat {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-image: url(https://www.most2414.com/wp-content/uploads/2024/08/Charli-Brat-Concert-1024x683.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 520px;
    height: 250px;
}

/* Footer - Universal */

.footer {
    height: 300px;
    background-color: #D1603D;
    font-size: 1.2rem;
    color: black;
}

.footer-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-top: 50px;
}

.logo-footer {
    padding: 20px;
}

.navbar-footer ul {
    display: flex;
}

.navbar-footer li {
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
}

.footer-2 {
    margin-top: 50px;
}

.footer .icons-footer a {
    padding: 5px;
}

/* LOGIN */

.conteudo-login {
    color: azure;
    display: flex;
    width: 100vw;
}

.conteudo-login .container-lado-texto{
    display: flex;
    width: 100vw;
    align-items: center;
    color: azure;
}

.conteudo-login .container-lado-img{
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    color: azure;
}

.container-lado-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-login {
    background-image: url(https://images.elle.com.br/2024/06/Charli-XCX-1240x1680.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 650px;
    height: 650px;
}

.container-login {
    margin: 40px;
    margin-top: 60px;
    margin-bottom: 55px;
}

.texto-login h1, p, input, a{
    padding: 10px;
}

.texto-login h1 {
    text-align: center;
}

.formulario-login p {
    padding: 10px;
    padding-bottom: 5px;
    font-size: 0.9rem;
}

.formulario-login input {
    margin: 5px;
    margin-bottom: 15px;
    padding: 10px;
    width: 350px;
    outline-style: none;
    color: azure;
    background-color: #221D23;
    border: 1px solid #D1603D;
    border-radius: 10px;
}

.texto-login .botao {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-login .botao button {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #D1603D;
    border: 1px solid black;
    color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 250px;
    height: 45px;
    margin: 10px;
}

.texto-faca-parte-login {
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    font-size: 0.9rem;
}

.texto-faca-parte-login a {
    color: #D1603D;
    text-decoration: underline;
}

.copyright-login {
    width: 45vw;
}

.copyright-login p {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.logo-login {
    width: 45vw;
}

.logo-login .img-logo-login {
    color: azure;
    margin-left: 10px;
}

/* CADASTRO */

.conteudo-cadastro {
    width: 100vw;
    height: 100vh;
    background-image: url(https://images5.alphacoders.com/799/799793.jpg);
    background-position: 80% 10%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    display: flex;
}

.container-formulario-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;
    border-radius: 50px;
    background-color: #221D23;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.texto-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.texto-cadastro h1, p, input, a{
    padding: 10px;
}

.texto-cadastro h1, h5 {
    text-align: center;
    margin: 10px;
}

.texto-cadastro h1 {
    margin: 5px;
}

.texto-cadastro h5 {
    margin-top: 5px;
    font-size: 0.9rem;
}

.formulario-cadastro p {
    padding: 10px;
    padding-bottom: 5px;
    font-size: 0.9rem;
}

.formulario-cadastro input {
    margin: 5px;
    padding: 10px;
    width: 350px;
    outline-style: none;
    color: azure;
    background-color: #221D23;
    border: 1px solid #D1603D;
    border-radius: 10px;
}

.texto-cadastro .botao {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-cadastro .botao button {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #D1603D;
    border: 1px solid black;
    color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 250px;
    height: 45px;
    margin: 10px;
}

.texto-entrar-cadastro {
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
}

.texto-entrar-cadastro a {
    color: #D1603D;
    text-decoration: underline;
}

.logo-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-cadastro a {
    padding: 5px;
}

.img-logo-cadastro {
    color: azure;
}

.copyright-cadastro p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 0.8rem;
}

/* MATÉRIA - RADIOHEAD */

.conteudo-materia-radiohead {
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    margin: 20px;
    font-size: 1rem;
    height: auto;
}

.container-conteudo-materia-radiohead {
    display: flex;
    width: 800px;
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 20px;
}

.texto-materia-radiohead .video-radiohead {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
}

.dono-comentario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.img-dono {
    background-image: url(/public/assets/user-circle.png);
    width: 32px;
    height: 32px;
}

.botao-like-comentario {
    color: azure;
}

.container-botao-like-comentario {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-like {
    background-color: transparent;
    background-image: url(/public/assets/thumbs-up.png);
    background-repeat: no-repeat;
    border: transparent;
    width: 52px;
    height: 52px;
}

.comentario-materia-radiohead {
    color: azure;
    margin-left: 70px;
    margin-right: 60px;
    margin-bottom: 100px;
}

.container-comentario-radiohead {
    padding: 20px;
}

/* CONFIGURAÇÕES COMENTÁRIOS - GERAL */

.area-comentario {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.area-comentario textarea {
    margin: 10px;
    padding: 10px;
    width: 600px;
    height: auto;
    min-height: 50px;
    resize: vertical;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    outline-style: none;
    color: azure;
    background-color: #221D23;
    border: 1px solid #D1603D;
    border-radius: 10px;
}

.area-comentario button {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #D1603D;
    border: 1px solid black;
    color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 100px;
    height: 45px;
    margin-top: 20px;
}

.conteudo-comentario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.titulo-comentario {
    margin-bottom: 30px;
}

.sessao-comentario{
    background-color: #6b5a6e;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    width: 500px;
    height: fit-content;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.texto-comentario {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: auto;
    word-break: break-all;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.usuario-comentario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-usuario {
    background-image: url(/public/assets/user-circle.png);
    width: 32px;
    height: 32px;
}

/* MATÉRIA - ESQUINA */

.conteudo-materia-esquina {
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    margin: 20px;
    font-size: 1rem;
    height: auto;
}

.container-conteudo-materia-esquina {
    display: flex;
    width: 800px;
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 20px;
}

.texto-materia-esquina .video-esquina {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
}

.dono-comentario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.img-dono {
    background-image: url(assets/user-circle.png);
    width: 32px;
    height: 32px;
}

.botao-like-comentario {
    color: azure;
}

.container-botao-like-comentario {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-like {
    background-color: transparent;
    background-image: url(assets/thumbs-up.png);
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
}

.comentario-materia-esquina {
    color: azure;
    margin-left: 70px;
    margin-right: 60px;
    margin-bottom: 100px;
}

.container-comentario-esquina {
    padding: 20px;
}

/* MATÉRIA - FISHMANS */

.conteudo-materia-fishmans {
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    margin: 20px;
    font-size: 1rem;
    height: auto;
}

.container-conteudo-materia-fishmans {
    display: flex;
    width: 800px;
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 20px;
}

.texto-materia-fishmans .video-fishmans {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
}

.dono-comentario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.img-dono {
    background-image: url(assets/user-circle.png);
    width: 32px;
    height: 32px;
}

.botao-like-comentario {
    color: azure;
}

.container-botao-like-comentario {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-like {
    background-color: transparent;
    background-image: url(assets/thumbs-up.png);
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
}

.comentario-materia-fishmans {
    color: azure;
    margin-left: 70px;
    margin-right: 60px;
    margin-bottom: 100px;
}

.container-comentario-fishmans {
    padding: 20px;
}

/* MATÉRIA - BRAT */

.conteudo-materia-brat {
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    margin: 20px;
    font-size: 1rem;
    height: auto;
}

.container-conteudo-materia-brat {
    display: flex;
    width: 800px;
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 20px;
}

.texto-materia-brat .video-brat {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
}

.dono-comentario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.img-dono {
    background-image: url(assets/user-circle.png);
    width: 32px;
    height: 32px;
}

.botao-like-comentario {
    color: azure;
}

.container-botao-like-comentario {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-like {
    background-color: transparent;
    background-image: url(assets/thumbs-up.png);
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
}

.comentario-materia-brat {
    color: azure;
    margin-left: 70px;
    margin-right: 60px;
    margin-bottom: 100px;
}

.container-comentario-brat {
    padding: 20px;
}