body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

body {
    margin-bottom: 100px;
    background-color: #221D23;
    
}

a {
    text-decoration: none;
    color: black;
}

.header {
    background: #D1603D ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    margin-left: 50px;
    padding: 20px;
}

.navbar ul {
    display: flex;
}

.navbar li {
    margin-left: 10px;
    padding: 20px;
}

.header .botao button {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #DDB967;
    border: 1px solid black;
    color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 100px;
    height: 45px;
    margin: 10px;
    margin-right: 50px;
}

.conteudo-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.664));
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
}

.container-conteudo-home {
    margin: 40px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 130px;
}

.texto-home {
    font-size: 1.4rem;
    color: azure;
}

.texto-home h1 {
    color: #DDB967;
}

.texto-home button {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #D1603D;
    border: 1px solid black;
    color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 100px;
    height: 45px;
    margin-top: 20px;
}

.img-home {
    display: flex;
    margin-right: 80px;
}

.img-home img {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 230px;
    height: 240px;
}

.img-home #am {
    margin-bottom: 10px;
    width: 230px;
    height: 120px;
}

.img-home #jd {
    margin-bottom: 10px;
    width: 230px;
    height: 120px;
}

.conteudo-materias {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
}

.container-conteudo-materias {
    margin: 40px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.texto-materias {
    font-size: 1.4rem;
    color: azure;
}

.texto-materias h1, h5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-materias img {
    width: 590px;
    height: 250px;
}











